img {
    width: 100%;
}
@media only screen and (min-width:600px) {
    section {
        max-width: 1200px;
        margin: auto;
    }
    body {
        height: 100%;
        background-image: url(billeder/baggrund_alle_03.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        background-position: center;
        background-attachment: fixed;
    }
}
.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-bottom: 50px;
}
.nav li {
    display: inline-block;
}
.nav a {
    text-decoration: none;
    padding: 25px;
    font-size: 30px;
    font-family: 'Poiret One', cursive;
    color: #AE3034;
}
p {
    line-height: 1.6;
}
@media (max-width: 940px) {
    body {
        height: 100%;
        background-image: url(billeder/baggrund_phone_alle.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        background-position: center;
        background-attachment: fixed;
    }
}
.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-bottom: 50px;
}
.nav li {
    display: inline-block;
}
.nav a {
    text-decoration: none;
    padding: 25px;
    font-size: 30px;
    font-family: 'Poiret One', cursive;
    color: #AE3034;
}
p {
    line-height: 1.6;
}

}
