.projekter_billeder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: auto;
    grid-gap: 32px 32px;
    padding-top: 125px;
}
.projekter_billeder img:hover {
    opacity: 95%;
    transform: scale(1.09);
}
#billede1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
#billede2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#billede3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
#billede4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#billede5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#billede6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
@media (max-width: 940px) {
    .nav ul {
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
        padding-bottom: 50px;
    }
    .nav li {
        display: inline-block;
    }
    .nav a {
        text-decoration: none;
        padding: 25px;
        font-size: 30px;
        font-family: 'Poiret One', cursive;
        color: #AE3034;
    }
    p {
        line-height: 1.6;
    }
}
